* {
  font-family: "Geologica", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  @media (min-width: 1600px) {
    max-width: 1344px;
  }
}

main {
  background: url('../images/index/main-bgd.png'), $background;
  position: relative;
  flex-grow: 1;
}

img {
  width: 100%;
}

.sticky {
  position: fixed;
  z-index: 101;
}

.stop {
  position: relative;
  z-index: 101;
}

.elements-page {
  background-color: bisque;
}