.catalog {
  padding-bottom: 212px;


  &-title {
    margin-bottom: 100px;
  }

  &__cards {
    flex-grow: 1;
  }

  &-category__title {
    color: $brown;
    font-family: TT Trailers Trial;
    font-size: 64px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 52px;
  }

  &__wrapper {
    column-gap: 50px;
    position: relative;
  }

  &__sidebar {
    width: 286px;
    flex-shrink: 0;
  }

  &__slider {
    &_tabs--slider {
      .splide__slide {
        margin-bottom: 40px;
      }

      .splide__track {
        overflow: visible;
      }
    }
  }

  @media (max-width: 991.99px) {
    &__wrapper {
      flex-direction: column;
    }

    &-title {
        margin-bottom: 0;
    }

    &-category__title {
         display: none;
    }

    &__sidebar {
      width: auto;
    }

    &__slider {
      &_tabs--slider {
        .splide__track {
          overflow: hidden;
          padding-top: 52px;

          button {
            img {
                display: none !important;
            }
          }
        }
      }
    }
  }

  @media (max-width: 575.99px) {
    &-title {
      flex-direction: column;
      align-items: flex-start;
    }

    &__slider {
      &_tabs--slider {
        .splide__track {
          padding-top: 20px;
        }

        .splide__slide {
          margin-bottom: 20px;
        }
      }
    }

  }

  @media (max-width: 480px) {
    padding-bottom: 60px;
    
    &__slider {
      &_tabs--slider {
        .splide__slide {
          margin-bottom: 12px;
        }
      }
    }
  }

}
