.catalog {
    padding-bottom: 212px;
    position: relative;

    &-title {
        margin-bottom: 52px;
    }

    &__wrapper {
        column-gap: 50px;
    }

    &__sidebar {
        width: 286px;
        flex-shrink: 0;
    }

    &__slider {
        &_tabs--slider {
            .splide__slide {
                margin-bottom: 40px;
            }

            .splide__track {
                overflow: visible;
            }
        }
    }

    // &__cards {

    // }

    @media (max-width: 991.99px) {
        &__wrapper {
            flex-direction: column;
        }

        &__sidebar {
            width: auto;
        }

        &__slider {
            &_tabs--slider {
                .splide__track {
                    overflow: hidden;
                }
            }
        }
    }
}