.header {
  height: 85px;
  background-color: $orange;
  
  &__logo {
    padding-top: 6px;
    margin-right: 100px;
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    

    &.-mobile {
      display: none;
    }
  }

  &__navbar {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 28px;
    padding-bottom: 29px;

    &-wrapper {
      display: flex;
    }
    

    &_item {
      list-style-type: none; 
      padding-right: 40px;

      &:last-child {
        padding-right: 0;
      }
    }

    &_link {
      text-decoration: none;
      color: $white;
      font-family: "Geologica";
      font-size: 22px;
      font-weight: 400;
      line-height: 28px; 
    }

    &_search {
      display: none;
    }

    &_elem {
      list-style-type: none;
      padding-right: 32px;

      &.-telegram {
        padding-right: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      
      &.-select, :last-child {
        padding-right: 0;
      }

      &.-select {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    &.-right {
      padding-top: 18px;
      padding-bottom: 19px;
    }

    &_select {
      display: flex;
      flex-direction: column;
      min-width: 87px;
      height: 32px;
      padding: 4px 8px 0;
      margin-top: 6px;
      border-radius: 8px;
      text-transform: uppercase;
      position: relative;
      z-index: 99;
      overflow: hidden;
      cursor: pointer;

      li {
        color: $white;
        font-family: "Geologica";
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        height: 28px;
        order: 2;
        opacity: .5;
        display: flex;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }

        &.active {
          order: 1;
          opacity: 1;
        }
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 50px;
        top: 13px;
        background-image: url('../images/index/language-select-chevron.svg');
        background-repeat: no-repeat;
        width: 22px;
        height: 11px;
      }

      &.open {
        min-width: 87px;
        height: auto;
        background: #ffffff;
        padding: 4px 8px;
        row-gap: 4px;
        
        li {
          color: $orange;

          &.active {
            order: 1;
            opacity: 1;
            cursor: default;
            pointer-events: none;
          } 
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 65px;
          top: 12px;
          background-image: url('../images/index/language-select-close.svg');
          background-repeat: no-repeat;
          width: 13px;
          height: 13px;
        }
      }
    }

    &_search {
      &--close {
        display: none;
      }

      &-input {
        width: 210px;
        height: 48px;
        border: 2px solid $white;
        border-radius: 100px;
        padding: 8px 20px 8px 60px;
        background-color: $orange;
        background-image: url('../images/index/input-search-icon.svg');
        background-repeat: no-repeat;
        background-position: left 24px center;
        color: rgba(255, 255, 255, 0.57);
        font-family: "Geologica";
        font-size: 22px;
        font-weight: 300;
        line-height: 28px;

        &::placeholder {
          color: rgba(255, 255, 255, 0.57);
          font-family: "Geologica";
          font-size: 22px;
          font-weight: 400;
        }

        &:focus {
          outline: none;
        }        

        &::-webkit-search-cancel-button {
          display: none;
        }
      }
    }
  }

  @media(max-width: 1399.99px) {
    &__logo {
      margin-right: 50px;
    }
  }

  @media(max-width: 1199.99px) {
    height: 83px;

    &-menu {
      height: 83px;
    }

    &__navbar {
      padding-top: 27px;
      padding-bottom: 28px;
    }

    &__logo {
      margin-right: 28px;
      padding-top: 16px;

      img {
        width: 100px;
      }
    }

    &__navbar {
      &_item {
        padding-right: 24px;
      }

      &_link {
        font-size: 20px;
        line-height: 26px;
      }

      &.-right {
        padding-top: 17px;
        padding-bottom: 18px;
      }

      &_elem {
        padding-right: 24px;

        &.-telegram {
          padding-right: 16px;
          padding-top: 9px;
          padding-bottom: 9px;
        }
      }

      &_search { 
        &-input {
          height: 44px;
          font-size: 20px;
          line-height: 26px;
          margin-top: 2px;
        
          &::placeholder {
            font-size: 20px;
          }
        }
      }

      &_select {
        li {
          font-size: 20px;
        }
      }
    }
  }

  @media(max-width: 991.99px) {
    &-menu {
      position: relative;

      &__item {
        &_link {
          background-color: transparent;
          color: $brown;
          font-family: 'TT Trailers Trial';
          font-size: 40px;
          font-weight: 700;
          line-height: 85%;
          letter-spacing: 2%;
          text-align: left;
          text-decoration: none;
          padding-top: 0;
          padding-left: 0;

          &.-notunderlined {
            text-decoration: underline;;
          }

          &:focus {
            box-shadow: none;

          }

          &::after {
            background-image: url('/images/icons/mobile-menu-chevron.svg');
            
            background-size: 18px 10px;
            margin-left: 8px;
            margin-top: 13px;
          }

        }
      }

      &__nav {
        padding-top: 20px;
        padding-left: 20px;
        list-style-type: none;
      }

      &.-mobile {
        display: block;
        position: absolute;
        z-index: 10;
        right: 0;
        top: 83px;
        width: 447px;
        background-color: $white;
        height: auto;
      }
    }

    &__navbar {
      display: none;

      &.-right {
        display: flex;
      }

      &_elem {
        padding-right: 40px;

        &.-telegram {
          padding-right: 40px;
        }

        &.-burger {
          padding-top: 9px;
          padding-bottom: 9px;
          padding-right: 0;
        }
      }

      &_button {
        padding: 0;
        border: 0;
        background-color: transparent;
      }
    }
  }

  @media(max-width: 767.99px) {
    position: relative;

    &__navbar {
      &_search { 
        display: flex;
        padding-top: 12px;
        padding-bottom: 9px;

        &-input {
          width: 100%;
          height: 100%;
          border: none;
          font-size: 22px;
          background-image: url('../images/index/search-icon-mobile.svg');

          &--wrapper {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            &.-active {
              display: block;
            }
          }

          &::placeholder {
            font-size: 22px;
          }
        }

        &--close {
          display: block;
          width: 22px;
          height: 22px;
          position: absolute;
          right: 24px;
          top: calc(50% - 11px);
        }
      }

      &_elem {
        flex-shrink: 0;
      }
    }

  }

  @media(max-width: 480px) {
    height: 48px;

    &-menu {
      height: 100%;
    }

    &__logo {
      padding-top: 8px;
      padding-bottom: 8px;

      img {
        width: 62px;
        height: 32px;
      }
    }

    &__navbar {
      &.-right {
        padding-top: 12px;
        padding-bottom: 12px;
      }

      &_search {
        padding-top: 0;
        padding-bottom: 0;
      }

      &_elem {
        line-height: 0;

        &.-telegram {
          padding-top: 0;
          padding-bottom: 0;

          img {
            max-height: 24px;
          }
        }

        &.-burger {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  } 
}