.hero {
  background-image: url("../../images/index/circle-desktop.png");
  background-position: top 100px left -288px;
  background-repeat: no-repeat;
  padding-top: 170px;
  padding-bottom: 200px;

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    display: none;
    width: 100%;
    max-width: 586px;
    max-height: 446px;

    &.active {
      display: inline;
    }

    &--wrapper {
      height: 100%;
    }

    @media (max-width: 991px) {
      width: 55%;

      &--wrapper {
        height: 390px;
        margin-top: 140px;
        margin-bottom: 0;
      }
    }

    @media (max-width: 767.99px) {
      &--wrapper {
        height: 290px;
      }
    }

    @media (max-width: 575.99px) {
      &--wrapper {
        height: 309px;
      }
    }

    @media (max-width: 480px) {
      &--wrapper {
        height: 256px;
      }
    }

    @media (max-width: 390px) {
      min-width: 164px;

      &--wrapper {
        height: 206px;
      }
    }
  }
  


  &__slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;

    &_logo {
      justify-content: center;
      display: flex;

      img {
        max-width: 465px;
      }

      @media (max-width: 991px) {
        position: absolute;
        top: 24px;
        left: calc(50% - 100px);
        max-width: 200px;
      }
    }

    &_tabs {
      .splide__track {
        overflow: visible;
        padding-top: 60px;

        .splide__list {
          display: flex !important;
          flex-direction: row;
          flex-wrap: wrap;
          row-gap: 32px;
          column-gap: 30px;

          .splide__slide {
            width: auto;
          }
        }
      }

      // .swiper {
      //   padding-top: 60px;

      //   &-wrapper {
      //     display: flex;
      //     flex-wrap: wrap;
      //     row-gap: 32px;
      //     column-gap: 30px;
      //     flex-wrap: wrap;
      //     justify-content: center;
      //   }

      //   &-slide {
      //     width: auto;
      //   }

      //   @media (max-width: 991px) {
      //     padding-top: 50px;

      //     &-wrapper {
      //       flex-wrap: nowrap;
      //       row-gap: normal;
      //       column-gap: normal;
      //       justify-content: normal;
      //     }
      //   }
      // }
    }
  }


  @media (max-width: 991px) {
    padding-top: 28px;
    padding-bottom: 30px;

    &__slider {
      &_tabs {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);

        .splide__track {
          overflow: hidden;

          .splide__list {
            row-gap: normal;
            column-gap: normal;
            flex-wrap: nowrap;
          }
        }
      }
    }
  }
}
