.history {
    .title {
        margin-bottom: 52px;
    }

    .cloud-top {
        margin-bottom: 140px;

    }

    @media(max-width: 991.99px) {
        .cloud-top { 
            margin-bottom: 60px;
        }
    }

    @media (max-width: 767.99px) {
        .title {
            margin-bottom: 20px;
        }

        .cloud-top {
            margin-bottom: 60px;
        }
    }
}