.timeline {
  display: flex;
  flex-direction: column;

  &-item {
    display: flex;
    position: relative;

    &__title {
      color: rgba(229, 72, 57, 0.5);
      font-family: TT Trailers Trial;
      font-size: 124px;
      font-weight: 700;
      line-height: 85%;
      letter-spacing: 2%;
    }

    &__text {
      color: #000000;
      font-size: 26px;
      font-weight: 400;
      line-height: 130%;
    }

    &--left {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex-basis: 50%;
      border-right: 2px solid rgba(229, 72, 57, 0.5);
      padding-right: 93px;

      .timeline-item__title {
        text-align: right;
        position: relative;

        &.-rabbit {
            &::before {
                left: -150px;
                bottom: 14px;
    
                @media (max-width: 991px) {
                    background-position: left bottom;
                    left: auto;
                    right: -95px;
                    bottom: 10px;
                }
    
                @media (max-width: 768px) {
                    right: -65px;
                    bottom: 0;
                }
            }
        }
      }
      .timeline-item__text {
        text-align: right;
        padding-left: 20px;
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-basis: 50%;
      border-left: 2px solid rgba(229, 72, 57, 0.5);
      padding-left: 93px;

      .timeline-item__title {
        text-align: left;
        position: relative;

        &.-rabbit {
            &::before {
                right: -150px;
                bottom: 14px;
                background-position: left bottom;
    
                @media (max-width: 991px) {
                    right: -95px;
                    bottom: 10px;
                }
    
                @media (max-width: 768px) {
                    right: -65px;
                    bottom: 0;
                }
            }
        }
      }
      .timeline-item__text {
        text-align: left;
        max-width: 565px;
      }
    }

    &.-active {
      .timeline-item__title {
        color: $orange;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(50% - 4px);
        width: 8px;
        background-color: $orange;
        border-radius: 25px;
      }
    }
  }

  @media (max-width: 991px) {
    &-item {
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &--left {
        align-items: flex-start;
        width: 100%;
        border: none;
        padding: 0;

        .timeline-item__title {
          text-align: left;
        }
        .timeline-item__text {
          text-align: left;
          padding: 0;
        }
      }

      &--right {
        align-items: flex-start;
        width: 100%;
        border: none;
        padding: 0;

        .timeline-item__title {
          text-align: left;
        }
        .timeline-item__text {
          padding: 0;
        }
      }

      &.-active {
        &::before {
          display: none;
        }
      }
    }
  }

  @media (max-width: 768px) {
    &-item {
      &__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 85%;
      }
      &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
      }
    }
  }
}
