$mobile-breakpoint: 767.99px;
$primary-color: #e54839;
$secondary-color: #5514141a;

.btn {
  border: 1px solid $primary-color;
  font-family: "Geologica", sans-serif;
  position: relative;

  &.btn-primary {
    background-color: $primary-color;
    font-size: clamp(18px, 0.95rem + 0.88vw, 32px);
    font-weight: 400;
    line-height: 130%;
    border-radius: 400px;
    padding: 19px 71px;
    transition: transform 0.3s;

    &:hover {
      border-color: $primary-color;
      transform: scale(1.05);

      @media (max-width: 575.99px) {
        &:hover {
          transform: scale(1.02);
        }
      }

      &::after {
        content: "";
        display: block;
        height: 90px;
        width: 84px;
        position: absolute;
        right: -84px;
        top: -4px;
        background-image: url("../images/elements/btn-hover.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &:active {
      background-color: $primary-color;
      border-color: $primary-color;
    }

    @media (max-width: $mobile-breakpoint) {
      // font-size: 18px;
      padding: 9px 33px;

      &:hover {
        &::after {
          display: none;
        }
      }
    }

    &.with-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        &::after {
          display: none;
        }
      }

      svg {
        margin-left: 20px;
      }

      @media (max-width: 1199.99px) {
        padding: 10px 40px;

        svg {
          width: 28px;
          height: auto;
        }

      }

      @media (max-width: 991.99px) {
        padding: 0;
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-right: 40px;

        span {
          position: absolute;
          color: $black;
          font-size: 14px;
          font-weight: 300;
          line-height: 130%;
          top: 40px;
          min-width: 115px;
        }

        svg {
          width: 22px;
          height: auto;
          margin-left: 0;
        }
      }

      @media (max-width: $mobile-breakpoint) {
        margin-top: 5px;
        border-radius: 50%;
      }

      @media (max-width: 575.99px) {
        margin-top: 12px;
        margin-left: 4px;

        span {
          left: 52px;
          top: unset;
        }
      }
    }
  }

  &.btn-outline {
    border: 4px solid #5514141a;

    &.-lg {
      border-radius: 56px;
      border-radius: 400px;
      padding: 6px 40px;
      font-size: 32px;
      font-weight: 400;
      line-height: 130%;

      @media (max-width: $mobile-breakpoint) {
        font-size: 18px;
        padding: 8px 42px;
      }
    }

    &.-md {
      border-radius: 56px;
      padding: 6px 40px;
      font-size: 24px;
      font-weight: 400;
      line-height: 130%;

      @media (max-width: $mobile-breakpoint) {
        font-size: 12px;
        padding: 4px 18px;
      }

      &.-catalog-tab {
        width: 100%;

        &-long {
          width: 100%;
          padding: 6px 15px;
        }
      }
    }

    .category-image {
      display: none;
    }

    &.active,
    &:hover {
      border: 4px solid $primary-color;

      @media (max-width: $mobile-breakpoint) {
        border: 2px solid $primary-color;
      }
    }

    &.active {
      .category-image {
        display: block;
        position: absolute;
        left: -48px;
        top: -54px;
        max-width: 130px;

        @media (max-width: $mobile-breakpoint) {
          max-width: 115px;
        }
      }
    }

    &.-colored {
      border: 4px solid $primary-color;
      color: $orange;

      &.active,
      &:hover {
        border: 4px solid $primary-color;
        background-color: $primary-color;
        color: #ffffff;

        @media (max-width: $mobile-breakpoint) {
          border: 2px solid $primary-color;
        }
      }

      @media (max-width: $mobile-breakpoint) {
        border: 2px solid $primary-color;
      }
    }

    @media (max-width: $mobile-breakpoint) {
      border: 2px solid $secondary-color;
    }
  }

  &.btn-block {
    width: 100%;

    &.-submit-button {
      &:hover {
        &::after {
          display: none;
        }
      }
    }
  }

  &.btn-catalog {
    width: 84px;
    height: 504px;
    align-items: flex-start;
    justify-content: center;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    border-radius: 0 400px 400px 0 !important;
    padding: 71px 19px 71px 10px;
    position: fixed;
    top: 273px;
    right: 0;
    z-index: 10;
    opacity: 1;
    transition: right 0.3s ease-out;

    &.animate-opacity {
      right: -60px;
    
      &:hover {
        right: 0;
      }

      &:not(:hover) {
        transition-delay: .5s;
      }
    }

    &::before {
      display: none;
    }

    &:hover {
      transform: rotate(180deg);

      &::after {
        display: none;
      }
    }

    @media (max-width: 1500px) {
      width: 58px;
      height: 300px;
      padding: 71px 18px 71px 10px;
      font-size: 24px;
      top: 126px;

      &.animate-opacity {
        right: -36px;
      }
    }
  }
}

.button-catalog-mobile {
  // position: fixed;
  position: absolute;
  // bottom: 17%;
  top: 8px;
  right: 2%;
  z-index: 10;

  img {
    width: auto;
  }

  @media(max-width: 575.99px) {
    // bottom: 15%;
    top: -4px;
  }

  @media(max-width: 480px) {
    // bottom: 26%;
    top: -9px;
    right: 7px;
  }

  @media(max-width: 390px) {
    // bottom: 32%;
    top: -17px;
  }
}


.back-to-top {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 67px;
  height: 67px;
  right: -107px;
  bottom: 0;
  border: 2px solid rgb(229, 72, 57);
  border-radius: 49px;
  cursor: pointer;
  z-index: 1000;
  transition: all .5s;

  @media(max-width: 1530px) {
    right: 0;
    bottom: -107px;
  }

  @media(max-width: 1199.99px) {
    width: 57px;
    height: 57px;

    svg {
      width: 33px;
      height: auto;
    }
  }

  @media(max-width: 767.99px) {
    width: 47px;
    height: 47px;
    bottom: -97px;

    svg {
      width: 24px;
      height: auto;
    }
  }

  @media(max-width: 480px) {
    width: 40px;
    height: 40px;
    border: 0.9px solid rgb(229, 72, 57);
    border-radius: 22.07px;
    bottom: -46px;
  }

  svg {
    path {
      transition: stroke .5s;
    }
  }

  &:hover {
    background: $orange;
    text-decoration: none;

    svg {
      path {
        stroke: $white;
      }
    }
  }
}

