$mobile-breakpoint: 767.99px;
$brown: #551414;

.form-control {
  border: 1px solid $brown;
  border-radius: 24px;
  color: $brown;
  font-family: "Geologica";
  font-size: clamp(14px, 0.65rem + 1.13vw, 32px);
  font-weight: 400;
  line-height: 130%;
  padding: 9px 43px;
  background-color: transparent;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &:focus {
    color: $brown;
    background-color: transparent;
    border-color: $brown;
    outline: none;
    box-shadow: none;
  }

  &::placeholder {
    color: $brown; 
    font-family: "Geologica";
    font-size: clamp(14px, 0.65rem + 1.13vw, 32px);
    font-weight: 400;
    line-height: 130%;
  }

  @media (max-width: $mobile-breakpoint) {
    // font-size: 14px;
    padding: 5px 18px;

    // &::placeholder {
    //     font-size: 14px;
    // }
  }

  @media(max-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &[type="email"] {
      margin-bottom: 12px;
    }
  }
}
